<nav class="navbar">
    <div class="navbar-content">
        <a href="/" class="navbar-logo">Web School</a>
        <ul class="navbar-links">
            <li><a href="/" id="nav-home">Home</a></li>
            <li><a href="/pages/html/intro.html" id="nav-html">HTML</a></li>
            <li><a href="/pages/css/intro.html" id="nav-css">CSS</a></li>
            <li><a href="/pages/js/intro.html" id="nav-js">JavaScript</a></li>
            <li><a href="/tryit.html" id="nav-editor">Code Editor</a></li>
        </ul>
        <button id="theme-toggle" class="theme-toggle" type="button" aria-label="Toggle color theme">🌙</button>
    </div>
</nav>
