<aside class="sidebar">
    <h3>JavaScript Path • Levels 1-6</h3>
    <ul>
        <li><a href="../js/intro.html" data-lesson="intro"><span class="lesson-level">L1</span> Fundamentals</a></li>
        <li><a href="../js/variables.html" data-lesson="variables"><span class="lesson-level">L2</span> Variables & Data</a></li>
        <li><a href="../js/functions.html" data-lesson="functions"><span class="lesson-level">L3</span> Functions & Scope</a></li>
        <li><a href="../js/dom.html" data-lesson="dom"><span class="lesson-level">L4</span> DOM Interaction</a></li>
        <li><a href="../js/es6.html" data-lesson="es6"><span class="lesson-level">L5</span> ES6+ Patterns</a></li>
        <li><a href="../js/project.html" data-lesson="project"><span class="lesson-level">L6</span> Interactive App Project</a></li>
    </ul>

    <h3>Explore More</h3>
    <ul>
        <li><a href="../html/intro.html">HTML Engineering</a></li>
        <li><a href="../css/intro.html">CSS Systems Design</a></li>
        <li><a href="../../tryit.html">Code Studio</a></li>
    </ul>
</aside>
