<aside class="sidebar">
    <h3>JavaScript Course</h3>
    <ul>
        <li><a href="../js/intro.html" data-lesson="intro">Introduction</a></li>
        <li><a href="../js/variables.html" data-lesson="variables">Variables</a></li>
        <li><a href="../js/functions.html" data-lesson="functions">Functions</a></li>
        <li><a href="../js/dom.html" data-lesson="dom">DOM</a></li>
        <li><a href="../js/project.html" data-lesson="project">Project</a></li>
    </ul>

    <h3>Other Courses</h3>
    <ul>
        <li><a href="../html/intro.html">Learn HTML</a></li>
        <li><a href="../css/intro.html">Learn CSS</a></li>
        <li><a href="../../tryit.html">Code Editor</a></li>
    </ul>
</aside>
