<aside class="sidebar">
    <h3>CSS Path • Levels 1-6</h3>
    <ul>
        <li><a href="../css/intro.html" data-lesson="intro"><span class="lesson-level">L1</span> Foundations</a></li>
        <li><a href="../css/boxmodel.html" data-lesson="boxmodel"><span class="lesson-level">L2</span> Box Model & Spacing</a></li>
        <li><a href="../css/flexbox.html" data-lesson="flexbox"><span class="lesson-level">L3</span> Flexbox Layouts</a></li>
        <li><a href="../css/grid.html" data-lesson="grid"><span class="lesson-level">L4</span> Grid Systems</a></li>
        <li><a href="../css/responsive.html" data-lesson="responsive"><span class="lesson-level">L5</span> Responsive Patterns</a></li>
        <li><a href="../css/project.html" data-lesson="project"><span class="lesson-level">L6</span> Design System Project</a></li>
    </ul>

    <h3>Explore More</h3>
    <ul>
        <li><a href="../html/intro.html">HTML Engineering</a></li>
        <li><a href="../js/intro.html">JavaScript Application Logic</a></li>
        <li><a href="../../tryit.html">Code Studio</a></li>
    </ul>
</aside>
