<aside class="sidebar">
    <h3>HTML Course</h3>
    <ul>
        <li><a href="../html/intro.html" data-lesson="intro">Introduction</a></li>
        <li><a href="../html/elements.html" data-lesson="elements">Elements</a></li>
        <li><a href="../html/images.html" data-lesson="images">Images & Links</a></li>
        <li><a href="../html/forms.html" data-lesson="forms">Forms</a></li>
        <li><a href="../html/project.html" data-lesson="project">Project</a></li>
    </ul>

    <h3>Other Courses</h3>
    <ul>
        <li><a href="../css/intro.html">Learn CSS</a></li>
        <li><a href="../js/intro.html">Learn JavaScript</a></li>
        <li><a href="../../tryit.html">Code Editor</a></li>
    </ul>
</aside>
